@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    width: 100%;
    background-color: rgb(70, 130, 180);/* #4682B4; /* SteelBlue */
    font-family: Verdana, Geneva, sans-serif;
	font-size: 14pt;
	color: #333;
}

p {
	margin: 0px 0px 20px;
	line-height: 1.8em; /* espaçamento entre linhas */
}

h1 {
    font-size: 18pt;
    padding-bottom: 10px;
}

h2 {
    font-size: 14pt;
    padding-bottom: 5px;
}

div#topo {
    background-color: rgb(70, 130, 180);/* #4682B4; /* SteelBlue */
    width: 100%;
    /* border-bottom: 2px solid #000; */
    position: fixed;
    /* box-shadow: 0 4px 5px #555; */
    z-index: 1000; /* Profundidade alta, para que tudo de rolagem passe atrás dele */
}

header {
    width: 100%;
    padding: 15px;
    display: flex;
}

div#marca-menu {
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
}

div#marca h1 {
    padding-top: 20px;
    text-align: center;
    line-height: 1em; /* espaçamento entre linhas */
    font-family: courier;
    font-size: 36pt;
    color: #191970;

}

nav {
    width: 940px;
    margin: auto;
}

nav ul {
    display: flex;
    list-style: none; /* ocultar marcadores */
    text-transform: uppercase; /* converter texto em maiúsculas */
}

nav ul li {
    padding: 20px;
    margin: auto;
    font-size: 11pt;
    transition: background-color 0.5s;
}

nav ul li:hover {
    background-color: rgb(70, 130, 180);/* #4682B4; /* SteelBlue */
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #191970;
}

nav ul li a:hover {
    color: #ffffff;
}



div#interface {
    width: 940px;
	padding: 170px 10px 0px 10px;
	background-color: rgba(255,255,255, 0.5); /* rgb alpha. O 0.75 é uma transparência */
	margin: auto;

}

section {
    width: 100%;
    padding: 10px;
}

article {
    width: 70%;
    float: left;
}

aside {
    width: 30%;
    float: right;
}

.imagem {
    width: 95%;
    padding: 0px 0px 10px 0px;
    margin: auto;
}

.interno {
    width: 250px;
    margin: 0px 15px 20px 0px;
}

.video {
    width: 560px;
    height: 315px;
}

.mapa {
    width: 920px;
    height: 1100px;
}


footer {
    clear: both;
	width: 100%;
	height: 50px;
	padding-top: 15px;
	line-height: 100px; /* espaçamento entre linhas */
	text-align: right;
	font-size: 12pt;
	border-top: 1px solid #333;
}

footer a {
	color: #191970;
	text-decoration: none; /* sem sublinhado */
	font-style: italic;
}