@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    width: 100%;
    background-color: rgba(70,130,180, 0.5);
    background-color: rgb(70, 130, 180);/* #4682B4; /* SteelBlue */
    font-family: Verdana, Geneva, sans-serif;
	font-size: 14pt;
	color: #333;
}

p {
	margin: 0px 0px 20px;
	line-height: 1.8em; /* espaçamento entre linhas */
}

h1 {
    font-size: 18pt;
    padding-bottom: 10px;
}

h2 {
    font-size: 14pt;
    padding-bottom: 5px;
}

div#topo {
    background-color: rgb(70, 130, 180);/* #4682B4; /* SteelBlue */
    width:100%;
    min-width: 940px;
    /* border-bottom: 2px solid #000; */
    position: fixed;
    /* box-shadow: 0 4px 5px #555; */
    z-index: 1000; /* Profundidade alta, para que tudo de rolagem passe atrás dele */
}

header {
    padding: 15px;
    display: flex;
}

div#logo {
    background-color: rgba(255, 255, 255, 0.5);
}

div#logo img {
    width: 150px;
    padding: 10px;
}

div#marca-menu {
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
}

div#marca h1 {
    padding-top: 20px;
    text-align: center;
    line-height: 1em; /* espaçamento entre linhas */
    font-family: courier;
    font-size: 36pt;
    color: #191970;

}

nav {
    width: 100%;
}

nav ul {
    display: flex;
}

nav ul li {
    padding: 20px;
    margin: auto;
}

div#interface {
    width: 940px;
	padding: 170px 10px 0px 10px;
	background: rgba(255,255,255, 0.5); /* rgb alpha. O 0.75 é uma transparência */
	margin: auto;

}

section {
    width: 100%;
    padding: 10px;
}

article {
    width: 70%;
    float: left;
}

aside {
    width: 30%;
    float: right;
}

.imagem {
    width: 95%;
    padding: 0px 0px 10px 0px;
    margin: auto;
}

footer {
    clear: both;
	width: 100%;
	line-height: 100px; /* espaçamento entre linhas */
	text-align: right;
	border-top: 1px solid #333;
}

