@charset "UTF-8";

body {
    background-color: rgb(70, 130, 180);/* #4682B4; /* SteelBlue */
    font-family: Verdana;
	font-size: 14pt;
	color: #333333;
}

p {

}

h1 {

}

div {

}

header {

}

header h1{

}

header h2{

}

img {

}

footer {

}
